html, body {
    @media (max-width: 1281px){
        font-size: 8px;
    }
    @media (min-width: 1281px){
        font-size: 10px;
    }

}
#root, html, body{
    height: 100%;
}

.swal2-popup {
    font-size: 1.4rem ;
}

.error-text {
    font-size: 1.4rem;
    width: 100%;
    margin-top: 0.25rem;
    color: #f86c6b;
}

